<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>首页左侧导航</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/public.js"></script>
    <head></head>

<body id="bg">
<!-- 左边节点 -->
<div class="container">

    <div class="leftsidebar_box">
        <a href="{:url('user/index')}" target="_parent">
            <div class="line">
                <img src="__PUBLIC__/img/coin01.png"/>&nbsp;&nbsp;首页
            </div>
        </a>

        {foreach name='data' item='info'}
        <dl class="system_log">
            <dt>
                <img class="icon1" src="__PUBLIC__/img/coin03.png"/>
                <img class="icon2" src="__PUBLIC__/img/coin04.png"/> {$info['name']}
                <img class="icon3" src="__PUBLIC__/img/coin19.png"/>
                <img class="icon4" src="__PUBLIC__/img/coin20.png"/>
            </dt>
            {if $info['child']}
            {foreach name='info["child"]' item='vo'}
            <dd>
                <img class="coin11" src="__PUBLIC__/img/coin111.png"/>
                <img class="coin22" src="__PUBLIC__/img/coin222.png"/>
                <a class="cks" href="{$vo.url}" target="main">{$vo.name}</a>
                <img class="icon5" src="__PUBLIC__/img/coin21.png"/>
            </dd>
            {/foreach}
            {/if}
        </dl>
        {/foreach}

    </div>

</div>
</body>
</html>
